apache-maven-*/
.nexus-password
consumer-app.log
target/
.idea/
*.iml
.classpath
.project
.settings/
.DS_Store
*.log
nexus-data/
postgres-data/
.gradle/
build/
**/build/
consumer-gradle-app.log
**/uploads/

